*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav{
  background-color: #0a5000;
  padding: 10px;
  text-align: start;
 
}

.logo{
  width: 75px;
  height: 75px;
}

.acc-menu{
  list-style-type: none;
}

.acc-menu > li > a{
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border-style: solid;
  border-color: #000;
}

.acc-menu > li > a:hover{
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.login{
  position: absolute;
  top: 10px;
  right: 95px;
  border-left-width: 16px;
  border-right-width: 16px;
}

.register{
  position: absolute;
  top: 10px;
  right: 10px;
  border-left-width: 7px;
  border-right-width: 7px;
}

header{
  position: sticky;
  top: 0px;
  background-color: #000;
  color: #fff;
  border-style: none;
  text-align: center;
  width: 100%;
}

.store-menu{
  border-bottom-style: solid;
  border-bottom-color: #0a5000;
}


.store-menu > li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.store-menu > li > span{
  padding: 10px;
}

.store-menu > li > a{
  text-decoration: none;
  padding: 10px;
}

.store-menu > li > a:visited{
  color: #ffffff;
  padding: 10px;
  }

.store-menu > li > a:hover{
  background-color: #ffffff;
  color: #000;
  padding: 10px;
}

.products {
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  grid-row-gap: 100px;
}

.product-img{
  width: 249px;
  height: 249px;
}

.content{
  background-color: #f0f0f0;
}

.flash{
  text-align: center;
  font-size: 20px;
  color: red;
}

form{
  text-align: center;
}
